<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Parallel" thread-count="5" parallel="tests">
    <test name="Pixel 2 API 30">
        <parameter name="device" value="pixel_2"/>
        <classes>
            <class name="runners.TestRunner"/>
        </classes>
    </test>
</suite>
